.m-addSection {
  padding: 10px 30px;
  .u-add {
    &:hover {
      cursor: pointer;
    }
    width: 64px;
    color: rgb(47, 200, 247);
    font-weight: bold;
    display: block;
    padding: {
      right: 5px;
      bottom: 10px;
    }
  }
  .el-pagination {
    text-align: right;
    padding: 20px 0;
  }
}
