.m-article {
  padding: 10px 30px;
  background: #fff;
  .m-contain {
    padding: 10px;
    border: 1px solid #c3d9ff;
    background: #fff;
    margin-bottom: 5px;
  }
  .m-tit {
    background: #598ede;
    color: #fff;
    margin-bottom: 5px;
    border-radius: 3px;
  }
  .grid-box-tit {
    line-height: 25px;
    padding-left: 12px;
    font-weight: 700;
  }
  .m-userid {
    padding-left: 15px;
    line-height: 25px;
  }
  .m-head {
    background: #F3F5FC;
    border-bottom: 1px solid #c3d9ff;
  }
  .m-foot {
    background: #F3F5FC;
    border-top: 1px solid #c3d9ff;
  }
  .m-send {
    color: blue;
    &:hover {
      cursor: pointer;
    }
  }
  .u-border-left {
    border-left: 1px solid #c3d9ff;
  }
  .grid-box-content,
  .grid-box-aside {
    min-height: 280px;
  }
  .grid-box-head,
  .grid-box-tit,
  .grid-box-foot {
    min-height: 25px;
  }
  .m-box {
    margin-bottom: 10px;
    border: 1px solid #c3d9ff;
    border-radius: 3px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .m-avatar {
    height: 184px;
    height: 184px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: block;
      border: 1px solid #CCC;
      padding: 2px;
      width: 124px;
      height: 124px;
    }
  }
  .m-profile {
    max-width: 183px;
    min-height: 40px;
    li {
      color: rgb(133, 131, 131);
      padding: {
        left: 28px;
        right: 26px;
      }
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      word-wrap:break-word;
      i {
        padding-left: 3px;
        color: #000;
      }
    }
  }
  .u-floor {
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: 700;
    color: rgb(98, 98, 253);
  }
  .u-replyOne {
    height: 25px;
    line-height: 25px; // padding-left: 16px;
    color: rgb(98, 98, 253);
    &:hover {
      cursor: pointer;
    }
  }
  .u-deleteOne {
    height: 25px;
    line-height: 25px;
    color: rgb(250, 53, 53);
    &:hover {
      cursor: pointer;
    }
  }
  .u-star {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  .m-func {
    height: 25px;
    .el-col {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        padding-left: 3px;
        color: blue;
      }
    }
  }
  .u-praise-blame {
    height: 25px;
    padding-left: 15px;
    .el-col {
      height: 100%;
      align-items: center;
      display: flex;
      img {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .u-btn {
    text-align: right;
  }
  .u-submit {
    margin-top: 20px;
  }
  .m-reply {
    margin-top: 30px;
  }
  .el-pagination {
    text-align: right;
    padding: 20px 0;
  }
}
