.g-bd {
  padding: {
    top: 2rem;
  }
}

#u-lgi-pic {
  text-align: center;
  img {
    width: 645px;
    height: 405px;
    border: 2px solid rgb(235, 165, 84);
  }
}

.el-button--small {
  padding: 6px 10px;
}

.u-input {
  width: 150px;
}
