.m-section {
  padding: 10px 30px;
}

.el-pagination {
  text-align: right;
  padding: 20px 0;
}

.u-publish {
  color: rgb(47, 200, 247);
  font-weight: bold;
  display: block;
  padding: {
    left: 9px;
    right: 5px;
    bottom: 13px;
  }
}
