.m-sectionManager {
  padding: 10px 30px;
  .el-input {
    margin-bottom: 10px;
  }
  .el-select {
    margin-bottom: 10px;
    width: 100%;
  }
  .el-pagination {
    text-align: right;
    padding: 20px 0;
  }
  .u-btn {
    text-align: right;
    margin-top: 35px;
  }
}
