.m-userInfo {
  padding: 10px 30px;
  color: #606266;
  .el-pagination {
    text-align: right;
    padding: 20px 0;
  }
  .avatar {
    width: 119px;
    height: 119px;
    border: 1px solid #e5e3e3;
  }
  .el-row {
    margin-bottom: 20px;
  }
  .u-bold {
    font-weight: bold;
  }
}
